.list{
	border: 1px solid red;
	width: 400px;

}
ul{
	list-style: none;
}
a{
	text-decoration-line: none;
}
a:hover{
	border: 1px dashed ;
	/*width: 50%;*/
	display: block;
	background-color: #EAE;
	color: white;
}
